openapi: 3.0.1
info:
  title: Shipday Assignment API
  description: The Shipday REST API lets you programmatically manage delivery and pickup orders, drivers (carriers), order assignment to your own fleet, and an on-demand delivery network (Uber, DoorDash) for last-mile fulfillment. The API is served over HTTPS and secured with HTTP Basic authentication using your API key.
  termsOfService: https://www.shipday.com/terms
  contact:
    name: Shipday Support
    url: https://www.shipday.com
  version: '1.0'
servers:
- url: https://api.shipday.com
security:
- basicAuth: []
tags:
- name: Assignment
paths:
  /orders/assign/{orderId}/{carrierId}:
    put:
      operationId: assignOrderToCarrier
      tags:
      - Assignment
      summary: Assign an order to a carrier
      description: Assigns an order to a specific carrier (driver) in your own fleet by order ID and carrier ID.
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
      - name: carrierId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Assignment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /orders/assign/{orderId}:
    delete:
      operationId: unassignOrder
      tags:
      - Assignment
      summary: Unassign an order from a driver
      description: Removes the current carrier assignment from an order.
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
components:
  schemas:
    SimpleResponse:
      type: object
      properties:
        success:
          type: boolean
        response:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Send your API key as the credential in the Authorization header, e.g. `Authorization: Basic {API_KEY}`.'
